@page
@model UserModel
@{
}

<h1>User page</h1>
<p> If you see this page is means that you are Authenticated with the userName  '@Model.UserName' </p>


@{
    <form asp-antiforgery="true">
        If you want to logout : <input name="submit" value="Logout" type="submit" />
    </form>
}